<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559577074349-rkec6qvke4fgiqa9ho66pk25dq4gq3q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559577074349-rkec6qvke4fgiqa9ho66pk25dq4gq3q7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559577074349-0pm3quh3dv7u2cndff56hd2je2pmvrdp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6cn0rM_BMuer1GQpzJCtvDIDDx3-1ow</string>
	<key>GCM_SENDER_ID</key>
	<string>559577074349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naim.matchcreators</string>
	<key>PROJECT_ID</key>
	<string>matchcreatorz-rahul</string>
	<key>STORAGE_BUCKET</key>
	<string>matchcreatorz-rahul.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559577074349:ios:bcdd26d7cf0a09c3e0d424</string>
</dict>
</plist>